/************ 
//--------------------------------
// GENERAL
//-------------------------------
************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }
  
  /* Estilos globales */
  .contenedor{
    padding: 10px 0px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
  }
  
  ul{
    margin:0;
    padding:0;
  }
  
  .boton1{
    height:38px;
    background:#e8491d;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
  }
  
  .btn-whatsapp {
    display:block;
    width:80px;
    height:80px;
    color:rgba(52, 73, 94, 0.815);
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

  .titulo {
    color: #642a73;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

     }
  
  /* Encabezado **/
  header{
    background:#24282b;
    color:#ffffff;
    padding-top:5px;
    min-height:70px;
    border-bottom:#1293d4 5px solid;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:15px;
    
  }
  
  header li{
    float: left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #marca{
    float:left;
  }
  
  header #marca h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top: 5px;
  }
  
  header .resaltado, header .actual a{
    color:#1293d4;
    font-weight:bold;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  
  /* Cabecera con imagen */
  #cabecera{
    min-height:400px;
    background:url('../img/cabecera.jpg') no-repeat 0 -400px;
    text-align:center;
    color:#ffffff;
    font-weight:bold;
  }
  
  
  #cabecera h1{
    margin-top:120px;
    font-size:50px;
    margin-bottom:15px;
    color:#cf1818;
    font-weight:bold;
  }
  
  #cabecera p{
    font-size:20px;
    color:#cf1818;
  }

  
  .main {

    padding-top: 4rem;

}


 /*  boletin */
#boletin{
    padding:10px;
    color:#ffffff;
    font-size: 0.8rem;
    background:#24282b;
  }
  
  #boletin h1{
    float:left;
  }
  
  #boletin form {
    float:right;
    margin-top:10px;
  }

  section .correo a{
    color:#ffffff;
    font-weight:bold;
  }

/* fin formulario boletin */


/* Galeria marcas */
.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 13%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 60px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
/* Fin Galeria marcas */
  
/* Servicios */

.sobre-nosotros {
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}


.cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 20px 0px;
    width: 30%;
    height: 280px;
    text-align: center;
    padding: 20px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}

.cards img {
    width: 200px;
    height: 140px;
    object-fit: scale-down;
    border-radius: 100%;
    justify-content: center;
   padding-left: 50px;
    
}

.cards  p {
    font-size: 14px;
    text-align: center;
    color: rgb(105, 61, 61);
}
   

.card img:hover {
  /* indica que en el navegador chrome la imagen crezca 1.2 */
  -webkit-transform: scale(1.2);

}

/* footer */


.titulo-final{
  background-color: #24282b;
  text-align: center;
  font-size: 24px;
  padding: 30px 0 30px 0;
    margin: auto;
  color: #9e9797;
}
  
/* Media Queries */
@media screen and (max-width:900px){
  header{
      background-position: center;
  }

  .main{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .main .cabecera{
      width: 90%;
  }

  /* Galeria */

  .imagen-port{
      width: 44%;
  }

  /* servicios */

  .cards{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .cards .card{
      width: 90%;
      text-align: center;
  }

  .cards .card:first-child, .cards .card:nth-child(2){
      margin-bottom: 60px;
  }

  .cards img{
    width: 90%;
}

  
}

@media screen and (max-width:500px){
  header #marca,
  header nav,
  header nav li,
  #boletin h1,
  #boletin form
  {
    float:none;
    text-align:center;
    width:100%;
  }

  nav{
      text-align: center;
      padding: 30px 0 0 0;
  }

  nav > a{
      margin-right: 5px;
  }

  #cabecera h1{
      font-size: 35px;
  }

  #cabecera p{
      font-size: 20px;
  }

  #boletin h1{
    margin-top:40px;
  }

  #boletin button{
    display:block;
    width:100%;
  }

  #boletin form {
    width:100%;
    margin-bottom:5px;
  }

  /* ABOUT US */

  .imagen-about-us{
      margin-bottom: 60px;
      width: 99%;
  }

  .portafolio .titulo, .miembros .titulo{
      width: 95%;
  }

  /* Galeria */

  .imagen-port{
      width: 60%;
  }

  /* Clients */

  .cards .card{
      height: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .cards .card img{
      width: 90px;
      height: 90px;
  }

  .container-contact100{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:#f4f4f4;
  }
  /* Footer */

 footer .titulo-final{
   display: none;
    
  }
}